<!DOCTYPE html>
{% extends 'genres/base.html' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Genres</title>
    </head>
    <body>
    {% block content %}
        {% for i in object_list %}
        <div align="center">
            <img src="{{i.collCover}}" height="200" width="200">
            <h2><a href="/genres/{{i.id}}">{{i.collName}}</a></h2>
            <h3>{{i.collDesc}}</h3>
            <br/>
        </div>
        {% endfor %}
    {% endblock %}
    </body>
</html>